body{
    margin: 0;
    padding: 0;
    background-color: #101820;
    background-image: url(https://pbs.twimg.com/media/F-GTQBPbUAAZ6D4?format=jpg&name=medium);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    position:sticky;
    display: flexbox;
    top:0;
    margin-top: 0;
    height: 100px;
    background-color: #101820;
}
.title > h1{
    white-space: nowrap;
    width: 1263px;
    height: auto;
    margin-top: 0;
    text-align: center;
    font-size: 500%;
    background: linear-gradient(to right, #f2c763, #8a2b2b);
    background: -webkit-linear-gradient(to right, #f2c763, #8a2b2b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}
.counting{
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    display: inline;
    flex-wrap: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 1rem;
}
.counting span{
    font-size: 3rem;
}

.youtube{
    white-space: nowrap;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-height: auto;
    padding-left: 5%;

}

.link{
    white-space: nowrap;
    margin: 0;
    display: flex;
    flex-direction: row  row-reverse  column  column-reverse;
    padding: 0;
    min-height: auto;
}

.social{
    
    float: left;
    margin-left: 0;
    white-space: nowrap;
    background-color: rgba(138, 43, 43, .75);
    width: 60px;
    height: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social li{
    padding-top: 5px;
    text-align: center;
    list-style: none;
}
