body{
    margin: 0;
    padding: 0;
    background-color: #101820;
    background-image: url(https://pbs.twimg.com/media/F-GTQBPbUAAZ6D4?format=jpg&name=medium);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    position:sticky;
    top:0;
    margin-top: 0;
    height: 100px;
    background-color: #101820;
}
.title > h1{
    margin-top: 0px;
    text-align: center;
    font-size: 80px;
    background: linear-gradient(to right, #f2c763, #8a2b2b);
    background: -webkit-linear-gradient(to right, #f2c763, #8a2b2b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}
.counting{
    margin-top: 10px;
    color: white;
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    display: inline;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 1rem;
}
.counting span{
    font-size: 3rem;
}

.youtube{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-height: auto;
}
